[2017-11-16 19:02] akutuzov opened #3 "Russian word embedding models from RusVectores project"
Name: word2vec-ruscorpora-300
Link: http://rusvectores.org/static/models/ruscorpora_1_300_10.bin.gz
Description: Word2vec Continuous Skipgram vectors trained on full Russian National Corpus (about 250M words). The model contains 185K words.
Related papers: https://www.academia.edu/24306935/WebVectors_a_Toolkit_for_Building_Web_Interfaces_for_Vector_Semantic_Models
Preprocessing:  The corpus was le

[2017-11-16 19:03] akutuzov commented on #3
OK, let's try :-)
By the way, what is the procedure for updating the resources? [RusVectores](http://rusvectores.org) rolls out new models from time to time.

[2017-11-17 08:03] menshikh-iv commented on #3
@akutuzov no updates, only adding a new model, best scheme for support backward compatibility :)

Thanks for the detailed info, only one thing: as I remember, RusVectores used `mystem` for `_POS`, can you add function for converting `word` -> `word_POS` in the first message?

[2017-11-17 14:54] akutuzov commented on #3
Well, it can be any tagger supporting Russian and Universal Tags, do we really need to clutter the issue with the preprocessing details?

[2017-11-21 01:05] menshikh-iv commented on #3
@akutuzov This would be very desirable because this is not an obvious process (it is impossible to apply this model without pre-processing in the current case).

Your code example will be linked with this model and simplify life for users :)

[2017-11-21 14:02] akutuzov commented on #3
OK. It will look somewhat like this with [UDPipe](http://ufal.mff.cuni.cz/udpipe). Models for various languages can be downloaded [here](http://ufal.mff.cuni.cz/udpipe/users-manual#universal_dependencies_20_models).
[code]
This produces Universal PoS tags straight away.
Another option is to use [pymystem](https://pypi.python.org/pypi/pymystem3):
[code]
Then one will have to convert RNC tags to UPO

[2017-12-02 16:27] piskvorky opened #5 "Add PubMed medical corpus + pretrained models"
The National Library of Medicine NLM license released a corpus of more than 27 million records with medical article metadata: ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/.

Each record contains the article's abstract (a short paragraph with article summary, typically ~1k characters), its authors, title, affiliation, a list of article topics including keywords and chemical formulas, year of publicat

[2017-12-02 17:08] piskvorky commented on #5
Another nice PubMed source (seems already preprocessed):
http://deepdive.stanford.edu/opendata/

[2017-12-02 17:12] piskvorky commented on #5
Another related free (non-commercial use) bio medical corpus, **including full text**: https://old.biomedcentral.com/about/datamining

[2017-12-02 21:00] piskvorky opened #6 "Add web corpus and pre-trained models"
E.g. from Amazon's official Common Crawl dataset: https://aws.amazon.com/public-datasets/common-crawl/

By the way, the "official" pre-trained gloVe vectors were trained on this. It would be interesting to compare to other models trained on the same dataset ("official" word2vec was trained on Google News, a different corpus, using completely different preprocessing, so not directly comparable)

[2017-12-02 21:10] piskvorky opened #7 "Suggestion: parallel corpora"
Aligned corpora for many European languages pair (cs-en, ru-fr, …): http://opus.nlpl.eu/News-Commentary.php

About 200M tokens in total. Typically used for translation systems, but maybe useful to include as well (for applications ala translation matrix embeddings)?

[2017-12-06 17:15] piskvorky opened #8 "Add patents from Google"
2,437,000 documents, 248 million sentences, 7.7 billion words: patents from http://deepdive.stanford.edu/opendata/#patent-google-patents (428GB). This is an already-preprocessed dataset, tokenized, with each token tagged by the Stanford parser.

I downloaded this patent dataset (in both SQL and CoNLL formats) to `h2`.

There's also the original Google Patents dataset, where the documents are raw s

[2017-12-06 20:39] piskvorky commented on #8
Another link, same data but different preprocessing and seems of higher quality (XML format, patents split by claim):
http://patents.reedtech.com/pgrbft.php

[2017-12-07 11:26] markroxor opened #9 "Adding conceptnet word embeddings"
https://github.com/commonsense/conceptnet-numberbatch

Latest download link - https://conceptnet.s3.amazonaws.com/downloads/2017/numberbatch/numberbatch-17.06.txt.gz

[2017-12-07 19:51] VanL commented on #8
The highest quality patent data right now is probably from PatentsView, supported by the USPTO itself. They have individual TSV files: http://www.patentsview.org/download/ and they have a mysql data dump with the entire portfolio (latest at http://www.patentsview.org/data/patent_20170808.zip).

The advantage is that the files have already been normalized from the raw data dumps.

[2017-12-08 12:00] piskvorky commented on #8
@VanL thanks for the link!

What would be most helpful is summarizing the basic metadata for this dataset and writing a **clear, concise description**. See the [existing datasets](https://github.com/RaRe-Technologies/gensim-data/blob/master/list.json#L3) for an example.

[2017-12-08 14:34] VanL commented on #8
There are a lot of possible datasets from this. I have seen people focus on:
1) Bibliographic/front page data (Good for examining statistics, creating graphs showing connections)
2) Abstracts (Short texts summarizing the advance)
3) Claims (What describes the legally protected advance, also serves as a description)
4) Full text of the specification (longest part of the patent, describes invention

[2017-12-08 18:51] GraphGrailAi opened #11 "ImportError: No module named 'gensim.downloader'"
Tried to use code from examples:

[code]
But got an error:

ImportError: No module named 'gensim.downloader'

[2017-12-08 19:02] menshikh-iv commented on #11
@GraphGrailAi This functionality will be available in `gensim>=3.2.0`, please wait for a little bit (several days)

[2017-12-08 19:02] #11 closed

[2017-12-08 22:45] piskvorky commented on #8
Yeah, I think that may be the easiest option -- an iterable over the dataset that yields a dict per item (patent).

Then people can filter this dict for whatever values they need. @menshikh-iv WDYT?

[2017-12-12 12:56] markroxor commented on #9
Add a description for users to the URI format https://github.com/commonsense/conceptnet5/wiki/URI-hierarchy

[2017-12-16 08:16] piskvorky opened #12 "Historical word embeddings"
by Stanford, https://nlp.stanford.edu/projects/histwords/

    We released pre-trained historical word embeddings (spanning all decades from 1800 to 2000) for multiple languages (English, French, German, and Chinese). Embeddings constructed from many different corpora and using different embedding approaches are included.

Paper: [Diachronic Word Embeddings Reveal Statistical Laws of Semantic Chan

[2017-12-18 08:41] menshikh-iv commented on #8
@piskvorky I agree, but the problem with dataset size (so big).

[2017-12-18 10:33] menshikh-iv commented on #8
I created a special label for the really big dataset, we can't add it right now (because we need special storage for it, like Amazon S3 or something similar). These will be plans for the future.

[2017-12-18 10:36] menshikh-iv commented on #6
This is super-large, need a new store for it http://commoncrawl.org/2017/02/january-2017-crawl-archive-now-available/ (this is 01-2017 dump size)

[2017-12-18 10:52] menshikh-iv commented on #7
So, many "dead" links (for  News-Commentary9.1.tar.gz  and first matrix), I'll update this with results.

[2017-12-18 11:15] #3 closed

[2017-12-18 11:17] menshikh-iv commented on #3
Thanks @akutuzov, sorry for waiting, now this repo released and `ruscorpora` vectors available

[code]

[2017-12-18 11:27] akutuzov commented on #3
Thanks @menshikh-iv! One small fix: in the table, I see "License not found" for this model. However, we do have a license, it is [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/deed.en) :-).
We are now updating our models, will come up with more of them before the end of month, I think.

[2017-12-18 11:30] menshikh-iv commented on #3
@akutuzov update license fa7185406ff5b6db214938244ed395dd2dfe1f1a :)

[2017-12-18 13:34] #9 closed

[2017-12-18 13:42] menshikh-iv commented on #12
@piskvorky can you be more concrete, which embeddings need to be added (there are many by link)?

[2017-12-18 15:04] piskvorky commented on #6
What does "super-large" mean, can you be more specific?

[2017-12-18 15:07] piskvorky commented on #12
All, preferably (and the non-English ones are particularly interesting).

[2017-12-19 09:43] menshikh-iv commented on #6
@piskvorky not quite, 8.97 ТiB for 57800 **compressed** WET files. More than that, this is data about 1-year-old dump (now dump is bigger).

super large: significantly more than current `wiki` dump (I mean we can add something `<=10GB`), but more - this is really problematic.

In addition to the fact that we need a different repository for "super large" files, we will also have to implement the "r

[2017-12-19 09:44] menshikh-iv commented on #12
@piskvorky got it!

[2017-12-19 17:53] piskvorky commented on #6
OK, this one seems to be a challenge :-)

Maybe subsample?

[2017-12-20 09:22] menshikh-iv commented on #6
@piskvorky maybe it will be a good idea, but what's size we should choose for the sample and how to mark explicitly that this is "sample", probably "sample" prefix in dataset name?

[2017-12-20 10:09] menshikh-iv commented on #12
@piskvorky problem: each "zip" contains many models named like `1800-w.npy + 1800-vocab.pkl`, `1810-w.npy + 1810-vocab.pkl`, all this makes sense if we give all the embeddings at once for the user (which is now impossible).

It is probably worth closing this issue (because it does not apply to us)

[2017-12-20 10:23] piskvorky commented on #12
I don't understand. What is the problem?

[2017-12-20 10:25] piskvorky commented on #6
Yes. Except be concrete -- mention the size, like `10GB_sample` or `100M_docs_sample`.

[2017-12-20 10:32] menshikh-iv commented on #12
For example, `All English (1800s-1990s) (from Google N-Grams eng-all)` http://snap.stanford.edu/historical_embeddings/eng-all_sgns.zip

This archive contains many files (pairs of matrix + vocab)
[code]
i.e. this file contains 20 **distinct** models (same situation for other links). To use these models for their intended purpose, they are needed all at once (they do not make sense separately). In o

[2017-12-20 13:55] piskvorky commented on #12
I see what you mean, but don't see it as a problem. Why couldn't the dataset loader just return a dictionary of models?

[2017-12-20 16:16] menshikh-iv commented on #12
You suggest to join all of this to one large pickle (dict of KeyedVectors) and return it to the user, am I right?

[2017-12-20 17:31] piskvorky commented on #12
No, I mean a dictionary where the key is a particular model name string (year?) and value the relevant Python object (Word2Vec or whatever).

If, as you say, they are worthless in isolation, then we should return them all in bulk.

[2017-12-20 17:37] menshikh-iv commented on #12
We can store only one `gz` file for model right now (exclude case for several partitions for datasets), for this reason, I talked about large pickle before.

[2017-12-20 18:04] piskvorky commented on #12
Aha, I see. Yes, that is possibility -- if the models are sufficiently small, we could pickle everything as a single `dict` (no separate .npy files etc).

[2017-12-27 16:34] menshikh-iv commented on #8
I'll use files from reedtech for 2017

[2017-12-27 16:45] menshikh-iv opened #14 "Fill-up release notes"
Need to fill all release notes for all data (and fix current descriptions).
Motivation - have a distinct description for each dataset (because table in README isn't readable) + we need to have a good link to data for promotion reasons.

Good examples:
- https://github.com/RaRe-Technologies/gensim-data/releases/tag/word2vec-ruscorpora-300
- https://github.com/RaRe-Technologies/gensim-data/releases/

[2017-12-27 17:50] chaitaliSaini commented on #14
Yes, i'll do it.

[2017-12-28 11:25] #8 closed

[2017-12-28 19:23] shgidi opened #16 "[Question] Can I change the location of the folder on disk?"

[2017-12-29 03:34] menshikh-iv commented on #16
@shgidi unfortunately no, this will be always `~/gensim-data`

[2017-12-29 03:34] #16 closed

[2017-12-29 08:05] piskvorky commented on #16
@shgidi see [FAQ question 7](https://rare-technologies.com/new-download-api-for-pretrained-nlp-models-and-datasets-in-gensim/).

[2017-12-30 14:11] chaitaliSaini commented on #14
Incomplete datasets/models:
1. 20-newsgroups(no example)
[code]
2. fake-news(no example)
[code]
3. quora-duplicate-questions(no example + desc)

Feature | Description
------------ | -------------
Dataset | Quora's question pair dataset
Dataset description |  The dataset contains 400,000 question pairs. Each question pair has an id for both questions, full text of the questions and a binary value t

[2017-12-30 14:13] chaitaliSaini commented on #14
Is there anything else that i need to add?

[2018-01-08 08:55] menshikh-iv commented on #14
Thanks @chaitaliSaini, I updated all release notes + make missed additions (for example for glove* vectors) + small refactoring for all data.

[2018-01-08 08:55] #14 closed

[2018-01-30 18:10] Witiko opened #18 "SemEval 2016/2017 Task 3, English Subtask A unannotated datasets and English Subtask B datasets"
## Introduction
I converted SemEval 2016 and 2017 question answering datasets into JSON for ease of use. The original datasets are in XML and scattered across several ZIP archives. The JSON files are going to be immediately used in the Gensim documentation for the Soft Cosine Measure (see the respective [pull request](https://github.com/RaRe-Technologies/gensim/pull/1827)).

## Description

## Dat

[2018-01-30 20:24] piskvorky commented on #18
Nice! :)

[2018-01-31 16:30] Witiko commented on #18
There was a suggestion that I post a complete SemEval dataset. However, there have been twelve SemEval workshops so far and [the last one][semeval-2018] consisted of twelve tasks each broken down to up to five subtasks in different formats. Therefore, I suggest that we follow the YAGNI principle and make the remaining datasets available on-demand.

[semeval-2018]: http://alt.qcri.org/semeval2018/

[2018-02-02 03:56] sur30 commented on #11
Is this functionality available now ?

[2018-02-02 10:04] menshikh-iv commented on #11
@sur30 yes, of course!

[2018-02-06 21:13] Witiko commented on #18
@menshikh-iv I pushed an updated [semeval-2016_2017-task3-subtaskB-english.json.gz](https://github.com/Witiko/semeval-2016_2017-task3-subtaskB-english/releases/download/2018-02-06/semeval-2016_2017-task3-subtaskB-english.json.gz), which now contains the `RELQ_RANKING_ORDER` field as an integer rather than a string. It is a minor but convenient change.

[2018-02-07 18:01] #18 closed

[2018-03-07 09:58] philgooch commented on #5
There's a bunch of word2vec models trained on PubMed data here, and these work well in gensim:

- http://evexdb.org/pmresources/vec-space-models/
- https://github.com/cambridgeltl/BioNLP-2016
- http://bioasq.org/news/bioasq-releases-continuous-space-word-vectors-obtained-applying-word2vec-pubmed-abstracts

[2018-03-07 10:48] menshikh-iv commented on #5
@philgooch thanks for the link! Have you any license information about it (can we add it to gensim-data and "re-distribute")?

[2018-03-12 16:01] Imshepherd commented on #5
training in R.
https://github.com/Imshepherd/wordVectors-R-PubMed-Resourse

[2018-03-12 16:18] philgooch commented on #5
@menshikh-iv The first set of models at http://evexdb.org/pmresources/vec-space-models/are CC-BY (see http://bio.nlplab.org/#license)

I'm waiting to hear back from the authors about the license for the other ones, I'll let you know as soon as I hear.

[2018-03-12 16:26] menshikh-iv commented on #5
@philgooch great, we'll wait too :+1:

[2018-03-13 07:34] philgooch commented on #5
@menshikh-iv I just heard back from Billy Chiu who developed the models at

https://github.com/cambridgeltl/BioNLP-2016

He's just updated the ReadMe there to confirm that the models at https://drive.google.com/open?id=0BzMCqpcgEJgiUWs0ZnU0NlFTam8 are also made available under CC BY

[2018-03-14 09:43] aneesh-joshi opened #21 "Incorrect outdated link"
There seems to be an outdated link here:

https://github.com/RaRe-Technologies/gensim-data/blob/fcc89c2d6832cbf19fdc1b896451dc3432631833/list.json#L105

The wikimedia website seems to have stopped hosting it.
I couldn't figure out the json formatting so didn't make a PR.

[2018-03-14 09:44] aneesh-joshi commented on #21
Referring to this link

https://dumps.wikimedia.org/enwiki/20171001

[2018-03-14 11:15] menshikh-iv commented on #21
@aneesh-joshi this is OK because we pick data from this link (yes, this doesn't support more by wiki side, but this is fact only).

[2018-03-14 11:15] #21 closed

[2018-03-24 09:35] piskvorky opened #23 "Using downloaded resources shouldn't require internet access"
As seen during our workshop yesterday, various network issues can appear during live or even offline events.

Once a user had downloaded a dataset onto their machine (`~/gensim-data`), they shouldn't require any internet access to use it. If the API needs to do some "online checking", this checking should be optional.

[2018-03-24 20:34] menshikh-iv commented on #23
Let me clarify, If the user already download a model, internet connection used for
- Retrieve path to file that will be used (yes, the "structure" defined in `lists.json` too, we retrieve the part of a path to the local file from it). If we have no connection, we can "guess" only (but we have very "regular" structure, in this case, this should work fine).
- Check that file is correct (md5 hashsum)

[2018-03-28 09:23] alonsela2015 commented on #11
got the same problem. Any idea how to solve?

[2018-03-28 09:30] menshikh-iv commented on #11
@alonsela2015 please upgrade your gensim version

[2018-03-30 06:25] DSamuylov commented on #23
I also encountered this problem. I was going in a trip where I would have only no/very weak internet connection. I preloaded all the models before the trip hoping to still work on my project. I was caught by a big surprise when I realised I couldn't work without internet!! My easter holidays are over when they didn't even started... I have to find what to de without my laptop :)

I agree that cons

[2018-03-30 06:34] menshikh-iv commented on #23
@DSamuylov I agree, we definitely need to add a special flag for this case, feel free to contribute (need to add "persistence" flag to https://github.com/RaRe-Technologies/gensim/blob/10a3dab8d00c0523ff871af75fb0badcff14848b/gensim/downloader.py#L357)

[2018-03-30 09:08] piskvorky commented on #23
I agree with @DSamuylov . I didn't realize `gensim-data` depends on an internet connection, that's bad design. The way I see it, we need two things:

1. Fix the design so that internet is not mandatory for already-downloaded models.

2. Better, clear progress/error messages, so users know what's going on. The errors we saw during the workshop were really terrible. Nobody knew what's going on.

[2018-04-05 14:14] avinashsai opened #24 "unicode is not defined"
When glove vectors are downloaded and loaded into model it shows 'unicode' not defines

[2018-04-05 14:22] menshikh-iv commented on #24
Hello @avinashsai
1. What's your python / os / `gensim` / `smart_open` version you use?
2. What're exactly vectors you mean (name)?

[2018-04-05 14:26] avinashsai commented on #24
Iam using google colab notebooks with latest gensim version and python3

My code:
[code]

`NameError: name 'unicode' is not defined`

[2018-04-05 14:28] menshikh-iv commented on #24
Not enough information, I don't see any `unicode` call as in your code, same about code of loader. Provide at least full stack-trace, please.

[2018-04-05 15:45] avinashsai commented on #24
[code]

[2018-04-05 16:24] menshikh-iv commented on #24
Looks pretty strange (because I see a different code in the codebase) - https://github.com/RaRe-Technologies/gensim/blob/c1e6c65d75c134e71a24fbf9fdecf448972d5316/gensim/utils.py#L339

I also re-check now and this works as expected for `2.7`, `3.5` and `3.6`.
Try to re-install gensim.

I close this issue because this isn't reproducible.

[2018-04-05 16:24] #24 closed, assigned to nobody

[2018-04-05 17:39] piskvorky commented on #24
Maybe something to do with the google colab environment? Does `unicode` exist there? I mean no gensim, just directly from the shell/notebook.

[2018-04-05 18:00] menshikh-iv commented on #24
@piskvorky `unicode` doesn't exist in `py3.6`, most strange things here is different code in stacktrace.

[2018-04-05 18:15] piskvorky commented on #24
Right. Looks like `any2unicode` was redefined somewhere by the user.

[2018-04-06 17:31] souravsingh opened #25 "Add cui2vec embeddings"
The embeddings for over 100k medical concepts using data from 60 million patients, 1.7 million journal articles and 20 million notes is up, available here- https://figshare.com/s/00d69861786cd0156d81

Explorer available here- http://ec2-52-14-191-192.us-east-2.compute.amazonaws.com:1234/

[2018-04-07 05:51] piskvorky commented on #25
Nice find!

[2018-04-07 05:55] menshikh-iv commented on #25
Additional information:
- license: `CC BY 4.0`
- paper: https://arxiv.org/abs/1804.01486

[2018-04-12 09:38] kamalgupta0808 commented on #8
Can i use this corpus to get similar patents using gensim or any other library? I am working on google dataset and want to find similar patents that have the same claims(same context). Fasttext(facebook), Gensim(doc2Vec) are possible approaches that I am looking to apply but I am new to nlp so don't know how to go forward. Any help will be much appreciated.
Thank You in advance

[2018-04-12 09:42] menshikh-iv commented on #8
Yes, you can use one of the submitted datasets, see https://github.com/RaRe-Technologies/gensim-data/releases/tag/patent-2017 (also, you can use links suggested in issues with others datasets).

About some advise - please ask your question in [mailing list](https://groups.google.com/forum/#!forum/gensim)

[2018-04-16 15:22] beamandrew commented on #25
Hey this is my paper, how cool! I'd be happy to contribute these, let me know if they need any clean up first.

[2018-04-16 16:01] menshikh-iv commented on #25
Oh, hi @beamandrew, glad to see you here! Please follow the instruction https://github.com/RaRe-Technologies/gensim-data#want-to-add-a-new-corpus-or-model

[2018-04-16 16:39] beamandrew commented on #25
Will do! It might be a couple weeks until I can get it together. I'm teaching a deep learning class right now that won't end until May which keeps me pretty busy.

I'm actually having them use the embeddings from this repo in class to build an RNN (which is how I ended up finding this issue).

You can check it out here if you're interested:
https://colab.research.google.com/drive/1JsdhsiJQP5JPEEGW

[2018-04-17 04:36] menshikh-iv commented on #25
@beamandrew can you give read access for `ivan@radimrehurek.com` please (I can't open your link, lack of permissions)?

[2018-04-17 11:24] beamandrew commented on #25
Oops, try this link which should let you view: https://drive.google.com/file/d/1WuoHWf1KyFsNiilbVa7qnKkSDALfch01/view?usp=sharing

[2018-05-06 15:11] shgidi opened #26 "How to use fastText for out of sample words?"
When downloading fastText with this method, we get a folder with a file in standard word2vec format, which can be loaded with
```model = KeyedVectors.load_word2vec_format(path, binary=False)```
But not with
```from gensim.models import FastText```
```model = FastText.load_fasttext_format(path, binary=False)```

This disables the ability to get vectors for out-of-vocabulary words.
How can this be d

[2018-05-07 17:58] akutuzov opened #27 "Russian fastText embeddings trained on Araneum web corpus"
Name: fasttext-ru_araneum-300
Link: http://rusvectores.org/static/models/rusvectores4/fasttext/araneum_none_fasttextcbow_300_5_2018.tgz
Description: fastText vectors trained on Araneum Russicum Maximum corpus (about 10 billion words). The model contains 196K words and 403K 3-4-5-grams.
License: CC-BY (http://rusvectores.org/en/about/)
Related papers: https://arxiv.org/abs/1801.06407, https://www.a

[2018-05-07 18:05] akutuzov commented on #27
One can lemmatize Russian texts before using this model, with the help of [pymystem](https://pypi.python.org/pypi/pymystem3):

[code]

[2018-05-07 23:01] gbrokos opened #28 "Biomedical pre-trained word embeddings"
We (AUEB's NLP group: http://nlp.cs.aueb.gr/) recently released word embeddings pre-trained on text from 27 million biomedical articles from the MEDLINE/PubMed Baseline 2018.

Two versions of word embeddings are provided, both in Word2Vec's C binary format:
200-dimensional: https://archive.org/download/pubmed2018_w2v_200D.tar/pubmed2018_w2v_200D.tar.gz
400-dimensional: https://archive.org/download

[2018-05-08 10:06] piskvorky commented on #28
Thanks @gbrokos ! That's definitely useful.

What we also need is a clear description of the preprocessing (especially since this is biomedical domain, where good tokenization / phrase detection is important). How can users of your dataset match this preprocessing, in order to look up words?

The license seems a bit limiting. What is the reason not to allow commercial use?

[2018-05-09 17:12] gbrokos commented on #28
For text preprocessing we used  the "bioclean" lambda function defined in the code below. Originally this were included in the toolkit.py script that accompanies the word embeddings of the BioASQ challenge. I just removed the surrounding ' '.join() to avoid joining tokens by spaces after splitting.

Here is a python code example:
[code]
Output:
['this', 'is', 'a', 'sentence', 'to', 'preprocess', '

[2018-05-12 10:28] piskvorky opened #29 "Patent data from patentsview.org"
The site http://www.patentsview.org/download/ contains USPTO patents in several formats, including with patent descriptions: 6,260,847 rows (patents) in 39.40 GB.

See if this data is better than what we have in gensim-data now (which is somewhat hard to parse and understand), what the license is, and enhance our patent dataset offering.

[2018-05-22 09:23] matanox commented on #25
Last I checked the actual concept names aren't include in this dataset and/or under the same license, but they _are_ available from a different source which looks legitimately released. I have, in fact, a task to correlate them. Without this correlation, the embeddings discussed here include arbitrary codes instead of the original (concept) words that you see in the online demo.

[2018-05-23 06:51] hscells commented on #25
I currently have some data that will allow for this mapping as @matanster describes from the author of [this publication](https://link.springer.com/chapter/10.1007/978-3-319-76941-7_6) (Section 2).

If anyone is interested I can upload a link to this as I sit next to the author and he has given his permission @jimmyoentung.

[2018-05-23 08:58] piskvorky commented on #25
Thanks guys.

What we want is for users who download this dataset to be able to use it easily.

If the dataset requires users to jump through hoops, it's not a good fit for gensim-data. The experience of applying / using a dataset has to be streamlined and intuitive, including access and code (not just data). That is why we created this repo, and it's a mandatory part of each new contribution.

@h

[2018-05-23 22:38] hscells commented on #25
The CUI in cui2vec stands for [Concept Unique Identifier](https://www.nlm.nih.gov/research/umls/new_users/online_learning/Meta_005.html). A CUI is an identifier for all of the types of synonyms for a particular medical string.

The dataset which I described in my comment is a mapping of CUI to the most commonly used string in the UMLS  meta-thesaurus. One may simply replace the CUIs in the pre-tra

[2018-05-24 07:40] piskvorky commented on #25
No problem, as long as the process is clearly described to users, and the dataset ready-to-use out of the box.

[2018-06-29 14:58] nishkalavallabhi opened #30 "Are there pre-trained topic models?"
Like pre-trained word embeddings, are there any pre-trained topic models available (now or in future) in gensim?

[2018-06-30 01:48] menshikh-iv commented on #30
@nishkalavallabhi yes, this is in our plan, ideally, we want to have several variants for **each** model available in Gensim

[2018-07-23 01:53] rahelmou commented on #3
Sorry, i cant download the file, may you fix the download link above?

[2018-07-23 14:49] akutuzov commented on #3
@rahelmou http://rusvectores.org/en/models/

[2018-07-30 10:08] menshikh-iv commented on #26
@shgidi

Facebook distribute 2 type of files:
- `.vec` contains ONLY word-vectors (no ngrams here), can be loaded with `KeyedVectors.load_word2vec_format`
- `.bin` contains ngrams, can be loaded with `FastText.load_fasttext_format`

next time please ask in mailing list [mailing list](https://groups.google.com/forum/#!forum/gensim)

[2018-07-30 10:08] #26 closed, assigned to nobody

[2018-07-30 15:05] piskvorky commented on #26
@menshikh-iv is this clear from our documentation?

I see people confused about these formats, how to load them and what can be done with them, all the time.

A clear, authoritative docs section would help us with support too (just point with hyperlink).

[2018-08-01 07:11] menshikh-iv commented on #26
@piskvorky I agree this situation happens sometimes, it worth to make a tutorial.

[2018-08-02 07:55] piskvorky commented on #26
A tutorial would be ideal, but a simple paragraph in the docs would go a long way. Can you add it?

[2018-08-06 01:53] juancq commented on #25
Just curious, any progress on this issue?

[2018-08-07 21:29] scottlittle commented on #26
This is not working for me with gensim 3.5, python 3.6, and a FB model:
[code]

I get:
`NotImplementedError: Supervised fastText models are not supported`

[2018-08-08 02:30] menshikh-iv commented on #26
@scottlittle please read an exception again: we really don't support **supervised** fasttext models

[2018-08-08 14:46] scottlittle commented on #26
@shgidi https://github.com/facebookresearch/fastText/tree/master/python worked for me.

[2018-08-12 21:24] aneesh-joshi opened #31 "WikiQA Corpus for Question Answering"
Link : https://download.microsoft.com/download/E/5/F/E5FCFCEE-7005-4814-853D-DAA7C66507E0/WikiQACorpus.zip

Paper: https://aclweb.org/anthology/D15-1237

Description:
Wikiqa is a QA dataset which is well studied for QA systems. It has a predefined trin/dev/test split and comes in a .tsv and .txt format.
Basically, there is a question(q) and for every question there are several candidate documents

[2018-08-12 21:25] aneesh-joshi commented on #31
[code]

[2018-08-13 04:04] menshikh-iv commented on #31
Thanks @aneesh-joshi, useful dataset :+1: (don't forget to raise an issues for other datasets that you used for evaluation)

[2018-08-13 12:13] aneesh-joshi opened #32 "SNLI(Stanford Natural Language Inference) corpus"
**Dataset download link :** https://nlp.stanford.edu/projects/snli/snli_1.0.zip

**Dataset website :** https://nlp.stanford.edu/projects/snli/

**Paper :** https://nlp.stanford.edu/pubs/snli_paper.pdf

**Brief Description (from website):**

**Example Datapoints:**

Text | Judgments | Hypothesis
-- | -- | --
A man inspects the uniform of a figure in some East Asian country. | contradictionC C C C C

[2018-08-13 12:28] aneesh-joshi opened #33 "SICK dataset"
## SICK(Sentences Involving Compositional Knowledge)
**Dataset website:** http://clic.cimec.unitn.it/composes/sick.html

**Dataset download link:** http://clic.cimec.unitn.it/composes/materials/SICK.zip

**License:**

**Example:**

pair_ID | sentence_A | sentence_B | entailment_label | relatedness_score | entailment_AB | entailment_BA | sentence_A_original | sentence_B_original | sentence_A_datase

[2018-09-30 04:44] romass12 commented on #26
What is meant by supervised fasttext models and how to train for unsupervised?

[2018-10-01 03:00] menshikh-iv commented on #26
@romass12

Exactly what [supervised learning](https://en.wikipedia.org/wiki/Supervised_learning) means. FB implementation have supervised-mode support (gensim - **only unsupervised**)

Just read an [Gensim FastText documentation](https://radimrehurek.com/gensim/models/fasttext.html)

[2018-12-05 00:54] andresrosso commented on #25
Hi, any body knows if the dataset 'cui2vec' is available??
@souravsingh  share the vector in csv, but i don know how to load that in gensim and start using.
Can anyone help me or tell em when the dataset would be ready.

[2018-12-05 00:56] andresrosso commented on #25
@souravsingh can i load the CSV in gensim?

Can you tell me how to do that.

[2018-12-05 01:00] beamandrew commented on #25
Hi everyone,

I am lead author on this paper. Apologies for the radio silence on this request. We are currently working on a revision to the paper/approach that we hope to release this month. I will check back in and try to make it gensim compatible at that time.

[2018-12-14 11:08] menshikh-iv commented on #25
@juancq @andresrosso sorry for waiting, I can't say when this will be added
BTW you always can load that manually (without `api.load`, just read the file from disk or s3).

[2018-12-14 11:10] menshikh-iv commented on #25
@beamandrew great, thanks!

[2019-01-20 07:37] prabhatM commented on #25
Is there any model using snowmed CT data?

[2019-02-11 12:16] andrei-q commented on #27
I got the following error:

[code]

[2019-02-11 13:08] akutuzov commented on #27
@andrei-q Gensim fastText code has been refactored since the time this issue was created.
In the recent versions of Gensim, you should use `gensim.models.KeyedVectors.load()` to load this model.
I've changed the code snippet above accordingly.

[2019-02-11 13:51] andrei-q commented on #27
Thanks. It works

[2019-03-07 15:48] adikolsur commented on #32
@aneesh-joshi Can you please explain a bit about how to use this script and its functioning?

[2019-03-17 20:13] aneesh-joshi commented on #32
Hi @adikolsur ,
could you mention which parts are unclear?
Have you taken a look at comments and links (to the paper and website)?

[2019-03-18 08:15] Dhanachandra commented on #25
Please share the source code for the evaluation metrics used in this work. I would like to evaluate my own embedding trained on EHRs. Thanks in advanced.

[2019-05-07 04:41] zqbake commented on #28
Downloading Failure.Please upload your file to another place.

[2019-05-07 07:33] piskvorky commented on #28
CC @mpenkov

[2019-05-07 14:02] gbrokos commented on #28
Links of the original comment have been updated. It should work now.

[2019-05-09 17:59] lambdaofgod opened #34 "Pretrained FastText doesn't handle OOV words"
Loading FastText using gensim.downloader returns KeyedVectors object.
Why is that? In the model name (fasttext-wiki-news-subwords-300) it seems like it should be able to use algorithm's ability to encode OOV words, but now it doesn't do that.

Also, loading downloaded model (from path returned from gensim_data_downloader) using gensim.models.FastText doesn't work.

[2019-05-09 18:40] piskvorky commented on #34
Thanks for reporting. That does sound like a bug to me. CC @mpenkov can you please have a look?

[2019-05-10 00:40] mpenkov commented on #34
I agree that it sounds like a bug.

@lambdaofgod Could you please provide a reproducible example?

[2019-05-11 10:54] lambdaofgod commented on #34
[code]

[code]

[code]

[code]

Which is not something that you expect from a method that uses subword information.

[2019-05-11 12:05] mpenkov commented on #34
Thank you for providing the reproducible example. Can you please include the **full** stack trace?

[2019-05-11 15:46] lambdaofgod commented on #34
[code]

I think it's pretty self-explanatory from what I posted before that model uses incorrect wrapper, as it uses `gensim.models.keyedvectors.Word2VecKeyedVectors` instead of `gensim.models.FastText`

[2019-05-15 14:17] prabhatM commented on #28
@gbrokos

Thank you for the pretrained file.

Why simple disorders like "breast cancer" and "heart attack" show Out Of Vocabulary? Pubmed must have references to such common disorders!

[2019-05-18 11:19] gbrokos commented on #28
Hi, the preprocessing and tokenization of the text has been done as described above. Word2vec was trained on the words resulted by this process and not bi-grams like "breast cancer" or "heart attack". However, word embeddings for the uni-grams "breast", "cancer", "heart" and "attack" exist.

[2019-05-27 06:41] prabhatM commented on #28
Hi,
I was testing pubmed_word2vec_2018 in one of my project. I got a long list of OOV words.
oov_words = ['craniofaciofrontodigital', 'neurolepticinduced', 'cerabrooculonasal','inhalationinduced', 'cooccurrent', 'papillonlèfevre', 'nephroticnephritic', 'atretocephalus', 'seablue', 'unverrichtlundborg', 'portulacca', 'faceinduced', 'hexachlorine',  'twolevel', 'charcotmarietooth', 'dysphagocytosis'

[2019-06-11 04:35] prabhatM commented on #28
Hi,
Is it possible to have the access to the .vec file for some retraining experimentation ?

Regards

Prabhat

[2019-06-11 19:56] livinglife2x opened #35 "How to save the model downloaded from api locally?"
I use
fasttext_model300 = api.load('fasttext-wiki-news-subwords-300')
to load the fasttext pretrained model. However everytime I run this code, I spend time on loading the model, is there a way to save this model locally and call it back?

[2019-06-11 19:57] piskvorky commented on #35
Hi, yes there is, but please use the mailing list for questions: https://groups.google.com/forum/#!forum/gensim

Github is for technical bug reports. Thanks.

[2019-06-11 19:57] #35 closed, assigned to nobody

[2019-06-11 21:26] livinglife2x opened #36 "Similarity matrix Doc2Vec"
I have seen this
similarity_matrix = fasttext_model300.similarity_matrix(dictionary, tfidf=None, threshold=0.0, exponent=2.0, nonzero_limit=100).
However I have not found similarity matrix function in gensim package. Is this something only available in pre trained models.

[2019-06-11 21:27] #36 closed, assigned to nobody

[2019-06-12 13:40] jarviszhb opened #37 "module 'word2vec-google-news-300' has no attribute 'load_data'"
I tried to use gensim.downloader to download 'word2vec-google-news-300', but my network isn't very reliable, so I downloaded word2vec-google-news-300.gz and init.py from github and put them into ~/gensim-data/word2vec-google-news-300/. But when I use api.load("word2vec-google-news-300")to load this model, I recieved error like this:

AttributeError: module 'word2vec-google-news-300' has no attribu

[2019-06-12 15:29] piskvorky commented on #37
Post the full stack trace please.

Plus your versions of Python, gensim and OS.

[2019-06-13 02:18] #37 closed, assigned to nobody

[2019-06-13 11:50] GladiatorX commented on #34
Will it be resolved in future release?

[2019-06-13 12:17] piskvorky commented on #34
Ping @mpenkov -- this is the same issue as on that mailing list (I knew I already saw it somewhere!).
Really confusing behaviour.

[2019-06-13 13:10] lambdaofgod commented on #34
@piskvorky @mpenkov could you help me pinpointing the problem? I may be willing to fix it, but for now I don't know where to start because I don't see what code gets called when creating the object in the downloader

[2019-06-13 13:44] piskvorky commented on #34
AFAIR, it's this code in `__init__.py` inside the `fasttext-wiki-news-subwords-300` release:
https://github.com/RaRe-Technologies/gensim-data/releases/tag/fasttext-wiki-news-subwords-300

@mpenkov can you confirm?

[2019-08-05 15:20] AMR-KELEG commented on #18
Can this dataset be used directly as follows below?
[code]

I am getting a strange output on checking the vocab `word2vec.wv.vocab`:
[code]

[2019-08-08 15:36] Witiko commented on #18
@AMR-KELEG The dataset is not a corpus. You will need to extract the text data you are interested in:
[code]

[2019-08-23 09:44] hyzhak opened #38 "what is the right way to resume model loading?"
After some time of loading I've got:

what is the right way to resume model downloading?
For the moment I just loop infinity and try to load again and again, but it doesn't look very efficient.

[code]

[2019-08-23 10:12] piskvorky commented on #38
The download ultimately calls `urllib.urlretrieve` here:
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/downloader.py#L374

Not sure how to avoid your `Connection reset` though. Maybe if the target server supports range queries, we could download each file in multiple parts (multiple HTTPS requests) and re-assemble at the end… sounds complicated though. CC @mpenkov

[2019-08-23 13:56] mpenkov commented on #38
Currently, there's no way to resume a download from the point that it failed. You can only try again from the very beginning.

In theory, yes, you could probably download the file more intelligently, but it isn't something that's been a problem for many gensim users, so we don't have a "right way" to handle this scenario. The sample you provided seems like it will work, eventually.

If your connec

[2019-08-25 11:25] #38 closed, assigned to nobody

[2019-08-25 11:28] hyzhak commented on #38
@piskvorky and @mpenkov thank you for the response, I've spun the code above and I got the model in few tries.

[2019-09-01 18:43] dkajtoch commented on #28
Do you include full model with both input and output layers (center and context word embeddings)?

[2019-09-10 09:53] mpenkov commented on #23
Fixed via https://github.com/RaRe-Technologies/gensim/pull/2545

[2019-09-10 09:53] #23 closed, assigned to mpenkov

[2019-09-25 14:11] kaushikacharya commented on #25
@andresrosso
Here are the steps for loading cui2vec in gensim:

1. Download the pre-trained embeddings from the download url mentioned in http://cui2vec.dbmi.hms.harvard.edu/

2. Dump the embeddings into a text file in word2vec format in these two steps:

-  Load the csv into pandas dataframe.

[code]

- Dump the embeddings(loaded in dataframe) into a text file.

[code]

3. Load the word vectors u

[2019-09-25 15:32] andresrosso commented on #25
Great work, thanks a lot.

[2019-10-05 12:53] a66as commented on #34
Hello from a random user.
I am trying to get vectors from the said model but it produces an error saying that the word is not found in vocab. What should I do? Wait for a fix?
Thanks

[2019-10-17 13:57] romanegloo commented on #28
FYI
vocab size is 2,665,547, and the most common 100 words are

`['the', 'of', 'and', 'in', 'to', 'a', 'with', 'for', 'was', 'were', 'is', 'by', 'that', 'on', 'patients', 'as', 'from', 'this', 'or', 'an', 'are', 'at', 'be', 'we', 'study', 'results', 'not', 'these', 'cells', 'after', 'between', 'have', 'which', 'treatment', 'than', 'using', 'cell', 'but', 'been', 'has', 'group', 'during', 'p', 'bot

[2019-11-03 09:29] anagha1198 commented on #31
how can we use this dataset in a question answering system?/

[2019-11-03 16:49] aneesh-joshi commented on #31
@anagha1198  If you group by the first column (ie, you group all the rows with the same Question ID, you will get all the corresponding document IDs)
So, the Question is the questions and all the documents are the options (for picking the most relevant answer)

[2019-11-14 09:44] a66as commented on #34
Any updates on this issue?

[2019-11-14 10:21] piskvorky commented on #34
I'm curious too. @mpenkov can you please have a look? I know you reworked and clarified our FastText recently, thanks.

[2019-11-18 15:52] mpenkov commented on #34
Sorry, I'm a little overwhelmed at the moment with work, travel and general end-of-year life-stuff. I'll have a look at this when I can, but I hope no-one out there is holding their breath :)

[2019-11-29 03:46] WangJW424 opened #39 "Issues about api.load()"
How can I use api.load( ) since  the url "https://github.com/RaRe-Technologies/gensim-data/releases/download" has not existed?

[2019-11-29 08:44] piskvorky commented on #39
See the documentation at https://github.com/RaRe-Technologies/gensim-data/ (or post a specific reproducible problem).

[2019-11-29 08:44] #39 closed, assigned to nobody

[2020-03-02 06:29] havingfun opened #40 "Add GloVe pretrained models from CommonCrawl corpus"
Hi Team,

I see that we don't have two of the models from the pretrained models by Stanford from here - https://nlp.stanford.edu/projects/glove/
The ones that can be added are -
- Common Crawl (42B tokens, 1.9M vocab, uncased, 300d vectors, 1.75 GB download): [glove.42B.300d.zip](http://nlp.stanford.edu/data/glove.42B.300d.zip)
- Common Crawl (840B tokens, 2.2M vocab, cased, 300d vectors, 2.03 GB

[2020-03-16 00:26] aniruddhakal commented on #37
what was the resolution?
I'm facing this same issue.

OS: Ubuntu 19.10
gensim version: 3.8.1

Stack Trace:
--------------------------------------------------------------------------
[code]

[2020-03-16 09:37] piskvorky commented on #37
I cannot replicate, on the same Ubuntu 19.10 and gensim 3.8.1.

Does your `~/gensim-data` directory look like this?

[code]

[2020-03-16 15:38] aniruddhakal commented on #37
Hi @piskvorky

I fixed the issue, I had to elevate the access permission for .gz archive.
Thanks for the clue.

![gensim_fix](https://user-images.githubusercontent.com/2071408/76774581-03879e00-679c-11ea-905c-f5a9307f473d.png)

[2020-03-16 15:51] piskvorky commented on #37
That's weird, that shouldn't be necessary. My snippet also had just `-rw-r--r--`. I guess you're loading the file in Python under a different user, not `aniruddha`, right?

Either way, we should probably fail with a more useful error message if opening the file fails. The current error is too cryptic.

Can you open a PR for that @aniruddhakal? Thanks.

[2020-03-16 15:57] aniruddhakal commented on #37
@piskvorky No, I'm loading python program using the same user account.

Are you suggesting that I make changes and raise PR?
I'll be happy to do that.

[2020-03-16 16:51] piskvorky commented on #37
Well, step one is finding out what's wrong. The fact that changing permissions to `-rwxrwxrwx` helped is a strong clue, but I still don't know why that's needed on your system.

Can you look deeper into the actual error, check that happens exactly when you leave permissions at `-rw-r--r--`?

[2020-03-16 17:36] aniruddhakal commented on #37
@piskvorky I tried reproducing issue, by both setting the permissions to original; deleting directory and re-downloading.
Issue isn't reproducing that way.

I should have checked contents of __init__.py
Only way I could reproduce issue was by renaming __init__.py file.

Bdw, I'm having issues while generating docs as stated in guidelines. I'll raise PR for some another purpose some other time.
I w

[2020-04-17 11:13] mariask2 commented on #28
Thanks a lot for creating this model!
I'm using it in this Kaggle note Notebook.
https://www.kaggle.com/mariaskeppstedt/a-risk-factor-logistic-regression-model
I'm referencing this web page in the Notebook. Would you like me to reference something else, e.g., a paper about it?

[2020-04-30 18:13] gbrokos commented on #28
Hi @mariask2, glad you found it useful!
If still possible, please cite the publication mentioned at the end of the readme file:
https://archive.org/download/pubmed2018_w2v_200D.tar/README.txt

[2020-06-13 14:04] gocen opened #41 "KeyError: "word '...' not in vocabulary" 20-newsgroups"
I want to use pre-trained 20-newsgroups model. My code is this:
`import gensim`
`from gensim.models import Word2Vec`
`import gensim.downloader as api`
`corpus = api.load('20-newsgroups')`
`model = Word2Vec(corpus)`
`print (model.similarity("jesus", "game"))`

It gives this error for any word

[2020-06-13 14:14] #41 closed, assigned to nobody

[2020-06-13 14:15] piskvorky commented on #41
Duplicate of the (already resolved) https://github.com/RaRe-Technologies/gensim/issues/2856#issuecomment-643622686

[2020-06-30 10:55] FarhatAbdullah commented on #32
Hi, Can someone guide  me how can I find Urdu corpus on this database?

[2020-10-28 04:33] imvickykumar999 opened #42 "Visualizing words in 2D vector plane"
# Visualizing words in 2D vector plane, view on repository.

[![visualizing words in 2D vector plane](https://github.com/imvickykumar999/Internship-Study/blob/main/screenshots/newplot%20(1).png?raw=true)](https://github.com/imvickykumar999/Internship-Study/blob/main/plot_word2vec.ipynb)

[2020-10-28 09:39] #42 closed, assigned to nobody

[2020-12-28 20:51] abhiaj opened #43 "Are there any pretrained models for Indic languages like "Hindi"?"

[2021-01-01 13:47] mpenkov commented on #43
Please ask questions like this on the mailing list.

https://groups.google.com/forum/#!forum/gensim

[2021-01-01 13:47] #43 closed, assigned to nobody

[2021-01-23 05:44] luomancs opened #44 "BERT models"
Hi,

Since BERT has been widely used in many task, I wonder will you consider include BERT models?

Thanks.

[2021-03-14 03:06] cephcyn commented on #34
Has there been any update on this issue since 2019?

[2021-03-17 10:50] abhirupnandy opened #45 "New Corpus - Semantic Scholar"
Semantic Scholar Open Corpus is a very large dataset of research article metadata. This dataset can be used to analyze research articles, find similarities between research articles, Topic modeling, Keyphrase Extraction, Document Clustering, and much more. Can a pre-trained model for this dataset be published?

[Semantic Scholar Open Corpus](http://s2-public-api-prod.us-west-2.elasticbeanstalk.com

[2021-03-17 10:56] piskvorky commented on #45
Sure, why not. Can you train it & open a PR?

In the PR, please include **clear motivation** and **all scripts you used**, so the result is reproducible and its impact is clear to potential users. Thanks!

[2021-03-21 05:25] Welkin1027 opened #46 "How to download the model without using python"
I am a Chinese who want to use gensim to test the similarity of two words. However, when I want to download the model by using gensim.downloader.load(""), I cannot connect to the website due to the lock of China, so I use a VPN to get access to the model. But it is very slow, it spend me almost 1 hour to download a file of 100MB, could you help me to solve it? For instance, if I can download the m

[2021-03-21 11:34] piskvorky commented on #46
The model files are hosted on Github. So if you cannot download from Github (or can download only slowly), there's not much we can do, sorry.

[2021-03-21 11:34] #46 closed, assigned to nobody

[2021-05-19 05:32] jxu opened #47 "Data release torrents"
Have you considered using torrents to get around filesize limits and improve download speed?

[2021-05-19 08:45] piskvorky commented on #47
We haven't but that's an interesting idea.

Somebody would need to pick it up and execute though, with strong SW engineering. It's not trivial because we definitely want to keep the current "HTTP download from Github" (compatibility, universality). Torrent is more fringe, so we'd have to keep both approaches and sync them.

A lot of work IMO, for not much benefit. How much faster do you need the d

[2021-05-19 08:58] jxu commented on #47
I don't download that much actually and I actually have very fast internet. But it's an option if GitHub ever complains about how every much bandwidth is used.

[2021-05-19 09:52] piskvorky commented on #47
Interesting. What motivated you to open this ticket then, how did you think of it?

[2021-05-19 10:03] jxu commented on #47
I was downloading a different dataset from a university and the bandwidth was not as high as GitHub CDN. Which made me think of how Linux distros will release torrents as an alternative to sponsored mirrors. Also I have done some analysis of large image datasets that come as torrents, the advantage being it is possible to download subsets of files without downloading everything.

[2021-07-29 23:02] kevinmneal commented on #40
Resurrecting this. These models have enormous vocabs that could prove useful for more esoteric problems, would love to be able to use them easily.

[2021-07-30 07:18] piskvorky commented on #40
Sure, why not. I'm +1 on including those.

Please check https://github.com/RaRe-Technologies/gensim-data#want-to-add-a-new-corpus-or-model; we'll need:

a) Text that motivates adding each model (should be easy), including any links to its original research and preprocessing options, its license etc. **Basically a quick summary of "What is this?' and "Who is it for?"**
b) Code that loads these mode

[2021-09-12 12:05] oleggrigoryev opened #48 "ValueError in import gensim.downloader"
I had an error when try to **import downloader** module. I upgraded gensim to v4.1.0 and numpy to v1.21.2. But it doesn't work.

input: `import gensim.downloader as api`
output:
[code]

[2021-09-12 12:31] mpenkov commented on #48
Please show the output of:

[code]

[2021-09-12 12:34] oleggrigoryev commented on #48
@mpenkov, here is:
[code]

[2021-09-12 12:36] mpenkov commented on #48
Also, what platform? MacOS, Linux, Windows? I suspect MacOS from the pathnames, but would like to be sure.

Do previous gensim versions exhibit the same problem?

[2021-09-12 12:46] oleggrigoryev commented on #48
**MacOS 10.14.6**

**Yes**, they do. I found a recommendation for upgrade version of Gensim and Numpy and did it. But the problem still remains.

It can be important: I'm using local Jupiter Notebook for code.

[2021-09-13 05:50] oleggrigoryev commented on #48
@mpenkov do you have any idea for solve the problem?

[2021-09-13 06:24] mpenkov commented on #48
Not immediately, no. I need to reproduce your problem first, but I've got a lot on my to-do list at the moment, and can't say when I will get around to it.

In the meanwhile, you could try rebuilding gensim from source (instead of using the wheel) - that may help.

[2021-09-28 13:55] mpenkov commented on #48
Can you try with gensim 4.1.2? `pip install -U gensim`

[2022-03-23 03:02] ResearchLabDev opened #49 "New Corpus - Corpus of Historical American (COHA) English"
Hello,

I was wondering if it would be possible to add the pre-trained word vectors from the Corpus of Historical American (COHA) English from Stanford found here - https://nlp.stanford.edu/projects/histwords/

In particular:

Genre-Balanced American English (1830s-2000s, 475 million words, 300d vectors ~2.34 GB)-- [Download](http://snap.stanford.edu/historical_embeddings/coha-word_sgns.zip)

I th

[2022-04-10 03:32] ResearchLabDev commented on #12
Sorry for exhuming an old issue, but I was wondering if adding these pre-trained historical word embeddings is still under consideration. These would be very valuable to research I am conducting. Thank you.

[2022-05-12 12:54] marcgehring1995 opened #50 "Own Corpus"
Hello together,

I would like to create my own corpus.
The problem is that I'm not allowed to share the data that the corpus will be build on.

Is there any chance how I can create my own corpus without sharing the data?

Kind regards

Marc

[2022-06-08 10:20] Bharat-mtr commented on #11
still not wprking in my case

[2022-11-01 22:57] NishqR commented on #11
Having this same issue, running the latest version of gensim==4.2.0. Even tried previous versions such as 3.8.1, but with no luck. Anyone got a solution?

[2022-11-03 13:43] mpenkov commented on #11
If you think you've found a bug, please open a new ticket and fill in the tempate.

[2022-11-10 14:52] maddymmt opened #51 "AttributeError: module 'gensim' has no attribute 'downloader'"
Trying to use this:
[code]
and an error occurs
AttributeError: module 'gensim' has no attribute 'downloader'
Im using gensim 4.2.0